@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Unifraktur Maguntia";
    src: url("fonts/UnifrakturMaguntia.ttf") format("truetype");
}

@font-face {
    font-family: "Chomsky";
    src: url("fonts/Chomsky.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    src: url("fonts/PTSans.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans Display";
    src: url("fonts/NotoSansDisplay.ttf") format("truetype");
}

@font-face {
    font-family: "PT Serif";
    src: url("fonts/PTSerif.ttf") format("truetype");
}
